# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS fajlovi
.DS_Store
Thumbs.db

# Environment fajlovi
.env

# VSCode podešavanja
.vscode/

# Cache
.cache/

# Electron specific
*.asar

# Skrivene konfiguracije
config/settings.json
